

.search {
  padding: 10px;
  margin: auto;
  width: 50%;
}

.label {
  display: initial;
  size: 30px;

}

.col-xs-6 {
  font-size: large;
}
.option-image{
  padding: 20px;
}
.log-out{
  display: initial;
  padding-left: 80;
  padding-left: 210px;
  margin-left: 10px;
}

.ui.fluid.dropdown {
  display: block; 
  width: 100%; 
  min-width: 0em; 
  }

.nav{
  color: darkgrey;
}
.nav:hover{
  color: white;
}

@keyframes back-to-docs {
  0% { transform: translateY(0); }
  50% { transform: translateY(0.35em); }
  100% { transform: translateY(0); }
  }


body > div,body > div > div,body > div > div > div.login-form {
  height: 100%;
}


.table {
  padding: 15px;
}

.option-table{

  margin: auto;
  width: 600px;
  padding: 10px;
  margin: 20px;
  display: inline-flex;
}




.date-picker{
  display: block; 
  width: 100%; 
  min-width: 0em; 
  font-size: 13px;
  border-radius: 4px;
  box-shadow: inset 0 2px 2px #e9e9e9;
  border: 1px solid #aeaeae;
  line-height: 21px;
  padding: 6px 10px 5px;
}
.layout{
  padding: 10px;
}